/*#!less*/

@blue: #2891ba;
@lightblue: #c0edff;

@light: #f7f7f7;
@silver: #d6d6d6;
@em: #adadad;
@gray: #555;



.button-text {
	text-transform: uppercase;
	text-decoration: none;
	
	font-size: 0.8em;
	font-weight: bold;
}

.button,
dl.crudEdit .qq-upload-button {
	.button-text;
	
	display: inline-block;
	height: 14px;
	
	padding: 7px 12px 5px 29px;	
	margin-right: 0px;
	
	white-space: nowrap;
	
	background-color: white;
	background-repeat: no-repeat;
	background-position: 6px center;
	
	background-color: @silver;
	border: none;
	border-bottom: 3px solid @em;
	
	color: @gray !important;
}

.button.group {
	float: left;
}

button.button {
	border-top: none;
	border-left: none;
	border-right: none;
	height: 29px;
	position: relative;
	top: 1px;
}

.button:hover, .button:focus,
dl.crudEdit .qq-upload-button:hover, dl.crudEdit .qq-upload-button:focus {	
	color: @light !important;
	border-bottom: 3px solid @blue;
	background-color: @em;
}

.button.icon-right {
	padding: 7px 29px 5px 12px;	
	background-position: right center;
}

.button.save	{ background-image: url('../../public/images/icons-gray/16/check_2.png'); }
.button.apply	{ background-image: url('../../public/images/icons-gray/16/save_diskette_floppy_disk.png'); }
.button.new		{ background-image: url('../../public/images/icons-gray/16/plus.png'); }
.button.add		{ background-image: url('../../public/images/icons-gray/16/opened.png'); }
.button.edit	{ background-image: url('../../public/images/icons-gray/16/pencil_edit.png'); }
.button.cancel	{ background-image: url('../../public/images/icons-gray/16/stop_2.png'); }
.button.delete	{ background-image: url('../../public/images/icons-gray/16/close_delete_2.png'); }
.button.prev	{ background-image: url('../../public/images/_core/crud/prev_16.png'); }
.button.next	{ background-image: url('../../public/images/_core/crud/next_21.png'); }
.button.search	{ background-image: url('../../public/images/icons-gray/16/search_lense.png'); }
.button.view	{ background-image: url('../../public/images/icons-gray/16/computer_monitor.png'); }
.button.next.icon-right	{ background-image: url('../../public/images/_core/crud/next_21.png'); }

.button.delete:hover, .button.delete:focus {
	background-color: #e94615;
	color: white !important;
}

.button.save:hover, .button.save:focus {
	background-color: #6bc946;
	color: white !important;
}

.button.cancel {
	float: right;
}

.button[disabled], .button.disabled {
	background-color: #eee;
	background-image: inherit !important;
	border-color: @silver;
	color: @silver !important;
}
.button[disabled]:hover, .button.disabled:hover {
	color: @silver !important;
}

option[disabled] {
	color: silver;
}