/*#!less*/

form.ACCrudList {
	display: block;
	padding: 0;
}

table.crudList {
    border-collapse: collapse;
	width: 100%;
}

table.crudList tr {
	margin: 0;
	margin-bottom: 1px;
	min-height: 35px;
}

table.crudList tbody tr {
	cursor: pointer;
}

table.crudList th {
	.button-text;
	
	padding: 10px 10px 10px 0;
	text-align: left;
}

	table.crudList th a, table.crudList th a:active, table.crudList th a:visited {
		text-decoration: none;
		border-bottom: none;
		color: gray;
		
		padding-left: 15px;
		white-space: nowrap;
	}

	table.crudList th.main {
		width: 100%;
	}
	
	table.crudList th input.search {
		position: relative;
		left: 15px;
	}
	
	table.crudList th:last-child {
		border: none;
	}
	
	table.crudList th a.order.asc,
	table.crudList th a.order.desc {
		background-repeat: no-repeat;
		background-position: 0 center;			
	}

	table.crudList th a.order.asc {
		background-image: url('../../public/images/_core/crud/down_16.png');
	}

	table.crudList th a.order.desc {
		background-image: url('../../public/images/_core/crud/up_16.png');
	}
	
table.crudList th select.filter {
	margin-top: 10px;
	margin-left: 15px;
}

table.crudList th select.filter option.select {
	color: silver;
}

table.crudList tr.toolbar {
}

table.crudList td.toolbar {
	padding-top: 8px;
	height: 24px;
}

table.crudList td.toolbar .button.multiple {
	display: none;
}

table.crudList td.toolbar .button.multiple.show {
	display: inline-block;
}

table.crudList td {
	padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	max-width: 350px;
	background-color: white;
	vertical-align: middle;
}

	table.crudList td.main {
		font-weight: bold;
		font-size: 1.1em;
	}
	
	table.crudList td.sort {
		vertical-align: middle;
		text-align: center;
		cursor: move;
	}
	
	table.crudList td.sort span {
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	
	table.crudList td.sort:hover span {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	
	table.crudList td img.preview {
		border: 1px solid @silver;
  -webkit-box-shadow: 5px 5px 0px -2px @silver;
          box-shadow: 5px 5px 0px -2px @silver;

	}
	
	table.crudList td.sortDisabled {
		color: @em;
	}
	
	table.crudList tr.tDnD_whileDrag td {
		background-color: @lightblue !important;
	}

	table.crudList td:last-child, table.crudList tr.toolbar td {
		padding: 10px;
		background-color: @light;
		min-height: 29px;
		border-right: none;
	}

	table.crudList td.linkedModel {
		text-decoration: underline;
	}
	
	table.crudList .buttons {
		white-space: nowrap;
		padding-top: 8px;
	}
	
	table.crudList .buttons span {
		position: relative;
		top: 3px;
	}
	
	table.crudList th.buttons {
		font-weight: normal;
		padding-top: inherit;
		padding-bottom: 5px;
	}

table.crudList tbody tr:nth-child(even) td {
	background-color: @light;
}

table.crudList tbody tr:hover td {
	background-color: @lightblue;
}