div.crudLayout div.row {
	width: 100%;
}

div.crudLayout dl.crudEdit {
	padding: 10px;
	margin-right: 20px;
	background-color: @light;
	clear: both;
}

div.crudLayout dl.crudEdit.toolbar {
}

div.crudLayout dl.crudEdit.sidebar {
	background-color: @silver;
}

div.crudLayout dl.crudEdit dt {
	display: block;
	float: none;
	clear: both;
	overflow: hidden;	
	width: auto;
	min-height: 0;
	
	text-align: left;
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
}

div.crudLayout dl.crudEdit dt[title] {
	background-color: @lightblue;
	color: @blue;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: normal;
}

div.crudLayout dl.crudEdit.table dt {
	display: table-cell;	
	text-align: right;
	float: left;
	clear: left;
	overflow: hidden;	
	width: 150px;
}

div.crudLayout dl.crudEdit dt.title {
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	color: @gray;
	width: auto;
}

div.crudLayout dl.crudEdit dt.required {
	font-weight: bold;
}

div.crudLayout dl.crudEdit dd {
	position: relative;
	float: none;	
	width: auto;
	
	border-top: none;
	padding: 0 0 10px 0;
	margin: 0;
}

div.crudLayout dl.crudEdit.table dd {
	float: left;
	margin-left: 10px;
}

div.crudLayout dl.crudEdit dd input[type=text] {
	width: 100%;
}

div.crudLayout dl.crudEdit dd textarea {
	width: 100%;
}

div.crudLayout dl.crudEdit.sidebar dd span.help {
	background-color: @light;
}

div.crudLayout dl.crudEdit.sidebar .button,
div.crudLayout dl.crudEdit.sidebar .qq-upload-button {
	border: 1px solid @em;
}

div.crudLayout dl.crudEdit.table dd span.help {
	margin: 3px 0 0 10px;
	position: relative;
	right: auto;
	top: auto;
	z-index: inherit;
}

/* VALIDATION */

div.crudLayout dl.crudEdit dd.validation_error {
	background-color: transparent;
}

div.crudLayout dl.crudEdit dd.validation_error div.validation_message {
	background-color: #e43c3c;
	color: white;
	padding: 5px 0 5px 5px;
	width: 100%;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

/* FILE BROWSER */

div.crudLayout dl.sidebar div.filebrowser {
	position: relative;
}

div.crudLayout dl.sidebar div.browser {
	position: absolute;
	right: 0;
}